# 1fwdXCsXhsPtIqrq
# samarthsam38

.env
.venv
lint_check.txt

# all the cache files
*.log
*.cache
*.data
.mypy_cache/
__pycache__/
.cache/
.ruff_cache/

# local .env files
.env.local
